/* Khai báo module giống kiểu đối tượng */
.fontText{
    font-size: 4rem;
    text-align: center;
    background-color: lightblue;
    font-weight: 400;
}
.bg-Color{
    background-color: lime;
}
.container__p{
    font-weight: 700;
}