/* Biến toàn cục */
.headerdemo{
  text-align: center;
  font-size: 20px;
  background-color: gray;
  color: yellowgreen;
}
.header{
  background-color: linen;
  color:#fff;
  text-align: center;
}
.myNav{
  background-color: green;
  color:#fff;
  text-align: center;
  height: 500px;
}
.content{
  background-color: red;
  color:#fff;
  text-align: center;
  height: 500px;
}
.foot{
  background-color: black;
  color:#fff;
  text-align: center;
}

p{
  color: #fff;
}
.heading{
  text-align: center;
  color: #13283f;
  font-size: 50px;
  font-weight: 700;
  font-family: 'Noto Sans', sans-serif;
}
.des{
  text-align: center;
}
.container{
  text-align: center;
}